<!DOCTYPE html>
<link href="{{ url_for('static', filename='css/estilos.css') }}" rel="stylesheet" type="text/css">
<html>
    <head></head>
    <body class="menu">
        <h1 align="center">Menu</h1>
        <div align="center">
            <h2 align="center">Citas Pendientes</h2>
            <table>
                <tr>
                    <th class="table">Contacto</th>
                    <th class="table">Lugar</th>
                    <th class="table" colspan="2">Fecha y hora</th>
                    <th class="table">Descripcion</th>
                </tr>
                {%for u in citas%}
                <tr>
                    <td class="table">{{u[0]}}</td>
                    <td class="table">{{u[1]}}</td>
                    <td class="table">{{u[2]}}</td>
                    <td class="table">{{u[3]}}</td>
                    <td class="table">{{u[4]}}</td>
                    <td class="table">
                    </td>
                </tr>
                {% endfor %}
            </table>
            <button class="boton"><a href="{{ url_for('ver_contactos') }}">Contactos</a></button>
            <button class="boton"><a href="{{ url_for('ver_citas') }}">Citas</a></button>
            
        </div>
        <div>
            <button class="boton"><a href="{{ url_for('inicio') }}">Salir</a></button>
        </div>
    </body>
</html>