<!DOCTYPE html>
<link href="{{ url_for('static', filename='css/estilos.css') }}" rel="stylesheet" type="text/css">
<html>
    <head></head>
    <body class="fondo">
        <form action = "{{request.path}}" method="POST">
            <input type="hidden" id="id" name="id" value="{{ contacto[0] }}">
            <label for = "nombre">Nombre</label>
            <input type="text" id ="nombre" name ="nombre" value="{{ contacto[1] }}"/><br>
            <label for = "apellido">Apellido</label>
            <input type="text" id ="apellido" name ="apellido" value="{{ contacto[2] }}"/><br>
            <label for = "direccion">Direccion</label>
            <input type="text" id ="direccion" name ="direccion" value="{{ contacto[3] }}"/><br>
            <label for = "telefono">Telefono</label>
            <input type="text" id ="telefono" name ="telefono" value="{{ contacto[4] }}"/><br>
            <label for = "email">Email</label>
            <input type="text" id ="email" name ="email" value="{{ contacto[5] }}"/><br>
            <input type="submit" value="Enviar">
        </form>
        <button class="boton"><a href="{{ url_for('ver_menu') }}">Regresar al menu</a></button>
    </body>
</html>