<!DOCTYPE html>
<link href="{{ url_for('static', filename='css/estilos.css') }}" rel="stylesheet" type="text/css">
<html>
    <head></head>
    <body class="fondo">
        <table>
            <tr>
                <th class="table">Usuario</th>
                <th class="table" colspan="3">Contactos</th>
                <th class="table" colspan="2">Cita</th>
            </tr>
            {%for u in citas%}
            <tr>
                <td class="table">{{u[0]}}</td>
                <td class="table">{{u[1]}}</td>
                <td class="table">{{u[2]}}</td>
                <td class="table">{{u[3]}}</td>
                <td class="table">{{u[4]}}</td>
                <td class="table">{{u[5]}}</td>
            </tr>
            {% endfor %}
        </table>
        <button class="boton"><a href="{{ url_for('ver_menu') }}">Regresar al menu</a></button>
    </body>
</html>