.table{
    width: 20%;
    text-align: left;
    border: solid green;
    background-color: darkseagreen;
}

.fondo{
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    background-color: darkseagreen;
    font-size: xx-large;
    font-style: inherit;
    font-family: Arial, Helvetica, sans-serif;
}
.boton{
    font-family: "Taoma";
    font-size: larger;
    font-style: initial;
    font-size: 30px;
}