<!DOCTYPE html>
<link href="{{ url_for('static', filename='css/estilos.css') }}" rel="stylesheet" type="text/css">
<html>
    <head></head>
    <body class="fondo">
        <table>
            <tr>
                <th class="table">Id Contacto</th>
                <th class="table">Contacto</th>
            </tr>
            {%for u in contactos%}
            <tr>
                <td class="table">{{u[0]}}</td>
                <td class="table">{{u[1]}}</td>
            </tr>
            {% endfor %}
        </table>
        <form action = "{{request.path}}" method="POST">
            <label for = "conid">Id Contacto</label>
            <input type="number" id ="conid" name ="conid"/><br>
            <label for = "lugar">Lugar de la cita</label>
            <input type="text" id ="lugar" name ="lugar"/><br>
            <label for = "fecha">Fecha de la cita</label>
            <input type="date" id ="fecha" name ="fecha"/><br>
            <label for = "hora">Hora de la cita</label>
            <input type="text" id ="hora" name ="hora"/><br>
            <label for = "descripcion">Descripcion de la cita</label>
            <input type="text" id ="descripcion" name ="descripcion"/><br>
            <input type="submit" value="Enviar">
            <button class="boton"><a href="{{ url_for('ver_citas') }}">Citas</a></button>
        </form>
    </body>
</html>