<!DOCTYPE html>
<link href="{{ url_for('static', filename='css/estilos.css') }}" rel="stylesheet" type="text/css">
<html>
    <head></head>
    <body class="fondo">
        <table>
            <tr>
                <th class="table">Citas</th>
                <th class="table">Contacto</th>
                <th class="table">Lugar</th>
                <th class="table" colspan="2">Fecha y hora</th>
                <th class="table">Descripcion</th>
            </tr>
            {%for u in citas%}
            <tr>
                <td class="table">{{u[0]}}</td>
                <td class="table">{{u[1]}}</td>
                <td class="table">{{u[2]}}</td>
                <td class="table">{{u[3]}}</td>
                <td class="table">{{u[4]}}</td>
                <td class="table">{{u[5]}}</td>
                <td class="table">
                    <form style="display: inline">
                        <input type="hidden">
                        <input type="submit" value="Modificar">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button class="boton"><a href="{{ url_for('menu') }}">Regresar al menu</a></button>
        <button class="boton">Agregar Cita</button>
    </body>
</html>