<!DOCTYPE html>
<link href="estilos.css" rel="stylesheet" type="text/css">
<html>
    <head></head>
    <body class="fondo">
        <table>
            <tr>
                <th class="table">Contactos</th>
                <th class="table">Usuario</th>
                <th class="table">Nombre</th>
                <th class="table"> Apellido</th>
                <th class="table">Direccion</th>
                <th class="table">Telefono</th>
                <th class="table">Correo</th>
            </tr>
            {%for u in contactos%}
            <tr>
                <td class="table">{{u[0]}}</td>
                <td class="table">{{u[1]}}</td>
                <td class="table">{{u[2]}}</td>
                <td class="table">{{u[3]}}</td>
                <td class="table">{{u[4]}}</td>
                <td class="table">{{u[5]}}</td>
                <td class="table">{{u[6]}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>