<!DOCTYPE html>
<link href="{{ url_for('static', filename='css/estilos.css') }}" rel="stylesheet" type="text/css">
<html>
    <head></head>
    <body class="fondo">
        <table>
            <tr>
                <th class="table">Contactos</th>
                <th class="table">Usuario</th>
                <th class="table">Nombre</th>
                <th class="table">Apellido</th>
                <th class="table">Direccion</th>
                <th class="table">Telefono</th>
                <th class="table">Correo</th>
            </tr>
            {%for u in contactos%}
            <tr>
                <td class="table">{{u[0]}}</td>
                <td class="table">{{u[1]}}</td>
                <td class="table">{{u[2]}}</td>
                <td class="table">{{u[3]}}</td>
                <td class="table">{{u[4]}}</td>
                <td class="table">{{u[5]}}</td>
                <td class="table">{{u[6]}}</td>
                <td class="table">
                    <button class="boton"><a href="/modcontacto?id={{u[0]}}">Editar</a></button>
                    <button class="boton"><a href="/eliminarcontacto?id={{u[0]}}">Eliminar</a></button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button class="boton"><a href="{{ url_for('menu') }}">Regresar al menu</a></button>
        <button class="boton"><a href="{{ url_for('agregar_contacto') }}">Agregar Contacto</a></button>
    </body>
</html>