<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <table border="1">
            <tr>
                <th>Contactos</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo</th>
            </tr>
            {%for u in contactos%}
            <tr>
                <td>{{u[0]}}</td>
                <td>{{u[1]}}</td>
                <td>{{u[2]}}</td>
                <td>{{u[3]}}</td>
                <td>{{u[4]}}</td>
                <td>{{u[5]}}</td>
                <td>{{u[6]}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>