<!DOCTYPE html>
<link href="{{ url_for('static', filename='css/estilos.css') }}" rel="stylesheet" type="text/css">
<html>
    <head></head>
    <body class="menu">
        <h1 align="center">Menu</h1>
        <div align="center">
            <button class="boton"><a href="{{ url_for('ver_contactos') }}">Contactos</a></button>
            <button class="boton"><a href="{{ url_for('ver_citas') }}">Citas</a></button>
            
        </div>
        <div>
            <button class="boton"><a href="{{ url_for('inicio') }}">Salir</a></button>
        </div>
    </body>
</html>