<!DOCTYPE html>
<link href="{{ url_for('static', filename='css/estilos.css') }}" rel="stylesheet" type="text/css">
<html>
    <head></head>
    <body class="fondo">
        <form action = "{{request.path}}" method="POST">
            <input type="hidden" id="id" name="id" value="{{ cita[0] }}">
            <label for = "lugar">Lugar</label>
            <input type="text" id ="lugar" name ="lugar" value="{{ cita[2] }}"/><br>
            <label for = "fecha">Fecha</label>
            <input type="date" id ="fecha" name ="fecha" value="{{ cita[3] }}"/><br>
            <label for = "hora">Hora</label>
            <input type="text" id ="hora" name = "hora" value="{{ cita[4] }}"/><br>
            <label for = "descripcion">Descripcion</label>
            <input type="submit" value="Enviar">
        </form>
        <button class="boton"><a href="{{ url_for('menu') }}">Regresar al menu</a></button>
    </body>
</html>